In [3]:
import pandas as pd

file_path = "Geo-referenced Annual Crop Yields - Raw Data.csv"
problematic_lines = []

try:

    with open(file_path, 'r') as file:

        for i, line in enumerate(file):

            if 28 <= i <= 38:  # Reading lines around the problematic line 33

                problematic_lines.append(line.strip())

except Exception as e:

    problematic_lines = str(e)


problematic_lines

['#        DATA TABLE CORRECTIONS AND COMMENTS',
 '#Default data requests may exceed the memory capacity of the server.  Contact the LTER information manager for assistance.',
 '#2013-5-13. Sven Bohm. 2011 treatment 2 r4  west and treatment 3 rep 3 east files had 2010 data in them. Need to get data from Jim Bronson.',
 '#',
 'longitude,latitude,crop_flow_lb_s,datetime,duration ,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft',
 '#degree,degree,poundsPerSecond,,second,inch,inch,gramsPerHectograms,,number,number,,,,foot',
 '-85.372824,42.408276,3.29,2013-07-24 19:20:04+00,1,56,180,6.6,0,141,5648,F1: Lysimeter,L1: ,Wheat (Sft Rd Wtr),953.5',
 '-85.372838,42.408288,2.89,2013-07-24 19:20:03+00,1,47,180,6.6,0,141,5648,F1: Lysimeter,L1: ,Wheat (Sft Rd Wtr),953.5',
 '-85.372847,42.408296,2.89,2013-07-24 19:20:02+00,1,38,180,6.6,0,141,5648,F1: Lysimeter,L1: ,Wheat (Sft Rd Wtr),953.5',
 '-85.372855,42.408301,3.69,2013-07-24 19:20:01+00,1,18,180,6.6,0,141,5648,F1: Lysimeter,L1: ,Wheat (Sft Rd Wtr),953.5',
 '-85.372855,42.408304,3.39,2013-07-24 19:20:00+00,1,39,180,6.6,0,141,5648,F1: Lysimeter,L1: ,Wheat (Sft Rd Wtr),953.5']

In [6]:
try:

    data = pd.read_csv(file_path, comment='#')

except Exception as e:

    data, e = None, str(e)



data.head()

,longitude,latitude,crop_flow_lb_s,datetime,duration,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft
0,-85.372824,42.408276,3.29,2013-07-24 19:20:04+00,1,56.0,180.0,6.6,0.0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
1,-85.372838,42.408288,2.89,2013-07-24 19:20:03+00,1,47.0,180.0,6.6,0.0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
2,-85.372847,42.408296,2.89,2013-07-24 19:20:02+00,1,38.0,180.0,6.6,0.0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
3,-85.372855,42.408301,3.69,2013-07-24 19:20:01+00,1,18.0,180.0,6.6,0.0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
4,-85.372855,42.408304,3.39,2013-07-24 19:20:00+00,1,39.0,180.0,6.6,0.0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5

In [8]:
data.shape

(767826, 15)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767826 entries, 0 to 767825
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   longitude       767826 non-null  float64
 1   latitude        767826 non-null  float64
 2   crop_flow_lb_s  767826 non-null  float64
 3   datetime        767826 non-null  object
 4   duration        767826 non-null  int64
 5   distance_in     767826 non-null  float64
 6   swth_wdth_in    767826 non-null  float64
 7   moisture        767826 non-null  float64
 8   status          738576 non-null  float64
 9   pass_num        767826 non-null  int64
 10  serial_number   767826 non-null  int64
 11  field           767826 non-null  object
 12  dataset         767826 non-null  object
 13  product         767826 non-null  object
 14  elevation_ft    767826 non-null  float64
dtypes: float64(8), int64(3), object(4)
memory usage: 87.9+ MB

In [10]:
data['datetime'] = pd.to_datetime(data['datetime'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767826 entries, 0 to 767825
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   longitude       767826 non-null  float64
 1   latitude        767826 non-null  float64
 2   crop_flow_lb_s  767826 non-null  float64
 3   datetime        767826 non-null  datetime64[ns, UTC]
 4   duration        767826 non-null  int64
 5   distance_in     767826 non-null  float64
 6   swth_wdth_in    767826 non-null  float64
 7   moisture        767826 non-null  float64
 8   status          738576 non-null  float64
 9   pass_num        767826 non-null  int64
 10  serial_number   767826 non-null  int64
 11  field           767826 non-null  object
 12  dataset         767826 non-null  object
 13  product         767826 non-null  object
 14  elevation_ft    767826 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(8), int64(3), object(3)
memory usage: 87.9+ MB

In [12]:
data['year'] = data['datetime'].dt.strftime('%Y')
print(data['year'])

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
767821    1996
767822    1996
767823    1996
767824    1996
767825    1996
Name: year, Length: 767826, dtype: object